html, body { 
  margin: 0; 
  padding: 0; 
  border: 0; 
} 

body {
  background:#000000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  line-height: 28px;
}

a {
  color:#fff;
}

a:hover {
  color:#FFE700;
}

a:visted {
  color:#e0e0e0;
}

#info {
  max-width: 400px;
  float:right;
  padding-left:16px;
  padding-right:270px;
}

#chips {
  float:left;
  width:420px;
  margin:32px;
  padding:64px;
}

h1,h2,h3,h4 {
  font-family: 'Share Tech', sans-serif;
  font-weight: 100;
  color: #fff;
}

h1 {
  margin-top:128px;
  font-size: 48px;
  line-height: 62px;
  width:30%;
}

h2 {
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 64px;
}

h3 {
  font-size: 24px;
  line-height: 34px;
}

h4 {
  font-size: 20px;
  line-height: 28px;
  margin:0;
}

section {
  margin-bottom:270px;
}

header {
  margin-top:270px;
  margin-bottom:270px;
}

header img {
  width: 120px;
  position: relative;
  top:10px;
  padding-left:8px;
}

.chipHeading {
  position: relative;
  top:5px;
}

.fa-long-arrow-right {
  padding-left:32px;
}

.fa-fw {
  padding-right:16px;
}

#profiles {
  display:block;
  float:left;
  margin-top:32px;
}

#profiles p {
  display:block;
  float:left;
}

.profile {
  float:left;
  padding-right:32px;
}

.profile h3 {
  text-align: center;
}

.joinUs {
  margin-bottom:32px;
}

.joinUs a {
  color:#fff;
}

.org {
  width:90%;
  margin-top:20px;
}

.org img {
  margin-top:48px;
  width:120px;
}

.event {
  margin-bottom: 48px;
}

.event h3 {
  text-transform: uppercase;
}

.eventProject {
  margin-bottom: 24px;
}

.eventProject h4 {
  text-transform: uppercase;
} 

#meetupInfo {
  display: none;
}

.pastProject {
  margin-top:42px;
  font-size:16px;
  line-height:24px;
  margin-bottom:32px;
}

.pastProject a {
  color: #fff;
}

.pastProject a:hover {
  color:#FFE700;
}

.pastProject h4 {
  margin-bottom:4px;
}